<!DOCTYPE HTML>
html
  head
    link(rel="stylesheet", href="estilos.css")
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet", href="font-awesome.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.4.1/css/all.css")
    script(src="https://code.jquery.com/jquery-3.5.0.min.js")
    title titulo 
    
  body
    header
      h3 Institución Educativa chipitas Alegres
      input(type="checkbox" id="btn-menu")
      label(for="btn-menu" class="icon-menu")
      nav.menu 
        ul 
          li 
            a.primero(href="#")
              span Inicio
          li 
            a.segundo(href="#")
              span Acitividades
          li.submenu 
            a.tercero(href="#")
              span Sobre Nosotros
                span.icono-down-open
                 
            ul 
              li 
                a(href="#")
                  span SubItem 1
              li 
                a(href="#")
                  span SubItem 2
              li 
                a(href="#")
                  span SubItem 3

            li 
              a.cuarto(href="#")
                span Contactenos      

    section.banner 
    
      div.container-banner 
        h2.titulo-banner Bienvenidos 
        h1.subtitulo-banner Nuestra pagina Web





       
        


      
      
    
    
    
 
    
